/* once done renaming and everything, combine with style.css */
.bold { font-weight: bold; }
.normal-height { height: 15px; }
.big-height { height: 20px; }
.very-big-height { height: 30px; }
.big-block { margin: auto; width: 974px; height: 0px; }
.qtype_selector_margin { margin-right: 7px; }
.warning_box {
    margin-top: 10px;
    font-weight: bold;
    font-size: larger;
}
.pad-bottom-five { padding: 5px; }
.item_list_padding { padding: 8px 0px 6px 0px; border: 0; }
.opac-auto-102 { padding-bottom: 7px; }
.opac-auto-108 { padding-left: 5px; }
.pad-top-ten { padding-top: 10px; }
.opac-auto-121 { padding-top: 6px; }
#new_cat_link_holder a { display: block; width: 675px; height: 213px; }
.pos-rel { position: relative; }
#search-box table { position: relative; left: -10px; }
#util_back_btn { position: relative; top: 1px; left: 10px; }
#util_help_btn { position: relative; top: 2px; left: 40px; }
#util_forw_btn { position: relative; top: 2px; left: 50px; }
#util_home_btn { position: relative; top: 3px; left: 20px; }
.pos-rel-top-5 { position: relative; top: 5px; }
#util_print_btn { position: relative; top: 5px; left: 30px; }
#adv_quick_search_sidebar { text-align: center; margin-top: 20px; width: 400px; }
.opac-auto-161 { text-align: right; padding-right: 7px; width: 62px; }
.nowrap { white-space: nowrap; }
.opac-auto-164 { white-space: nowrap; padding-left: 5px; }
.full-width { width: 100%; }
.selector_actions_for_list { width: 175px; margin-right: 11px; }
.selector_actions_for_list_inner_option { margin-left: 2em; } /* XXX ".opac-auto-179 optgroup option" doesn't work!? */
#cn_browse_div > div { width: 90%; text-align: center; margin: 10px; }
#cn_browse { width: 95%; text-align: center; padding: 15px; }

/* kcl customizations */
#topnav_logo img { height:85px; }
#header,
#header-wrap { background:#40a269; background-color: #40a269; }
.opac-button-header { background: #007a54; }
.facet_box_temp .header { background: #40a269; }
#dash_identity {
    margin-top:2em;
}

body { background-color: #40a269; }

#footer-wrap { 
    background-image: -webkit-linear-gradient(top, rgb(0,122,84), rgb(64,162,105));
    background: linear-gradient(to bottom, rgb(0,122,84), rgb(64,162,105));
    min-height: 220px;
}

/* youth skin stuff */

body.ys {
    background: url(/images/kcl/greenblue.png) center top fixed;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: 50% 50% !important;
    background-size: cover;
    border: none;
}

#header-wrap.ys {
    background: rgba(0,0,0,0.4);
}

#dashboard.ys,
#dash_identity.ys {
    background-color: rgba(255,137,0,0.8);
}

#header.ys {
    background:none;
}
#search-wrapper.ys {
   background: rgba(255,255,255,0.6);
}

.home #search-wrapper.ys {
    background: rgba(255,255,255,0.6);
    border: none;
    min-height:700px;
}

div#rdetail_actions_div.ys {
    background: none transparent;
}
div#rdetail_actions_div.ys > .place_hold,
div#rdetail_actions_div.ys > .toggle_list {
    border: none;
}

#footer-wrap.ys {
    background: rgba(0,0,0,0.8);
}

#rdetails_status.ys thead th {
    background: rgba(255,119,0,0.5);
}

#rdetail_extras_div.ys {
    display:none;
}

#content-wrapper.ys {
    background: rgba(255,255,255,0.5);
}

#results_header_bar.ys {
    background: rgba(255,137,0,0.8);
}

.result_metadata.ys {
    background: rgba(255,255,255,0.6);
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    padding: 8px;
}

.results_header_lbl.ys {
    background: none transparent;
    border: none;
    color: #fff;
}

.ys .opac-multiline-button > a,
.ys .results_header_btns a,
.ys #simple-detail-view-links a,
.ys .dash_account_buttons a,
.ys .opac-button {
    background: #0095c8 !important;
    border: none !important;
    padding: 0.8em;
}

.ys .opac-multiline-button > a:hover,
.ys .results_header_btns a:hover,
.ys #simple-detail-view-links a:hover,
.ys .dash_account_buttons a:hover,
.ys .opac-button:hover {
    background: #75a535 !important;
    border: none !important;
}

.facet_box_temp.ys div.header {
    background: rgba(255,137,0,0.8);
}
.facet_box_temp.ys div.box_wrapper {
    background: rgba(255,255,255,0.6);
}

.rdetail_header.ys {
    background: rgba(255,137,0,0.8);
    border: none;
    padding: 10px;
    margin-left:0;
}

.rdetail_additional_md.ys,
#copy_hold_counts.ys,
#rdetail_summary_header.ys {
    background: rgba(255,255,255,0.5);
    padding: 10px;
}

#home-carousel {
    width:80%;
    height:350px;
    margin:10px auto;
}

.ys #fines_payments_wrapper,
.ys #myopac_tabs,
.ys #adv_search_parent {
    background: rgba(255,137,0,0.8);
}

.ys .header_middle {
    color: #000;
}

.ys #adv_search_tabs a,
.ys #acct_tabs a,
.ys #acct_fines_tabs a,
.ys #acct_checked_tabs a,
.ys #acct_holds_tabs a,
.ys #acct_prefs_tabs a {
    background: #0095c8;
}

.ys #adv_search_tabs a:hover,
.ys #acct_tabs a:hover,
.ys #acct_fines_tabs a:hover,
.ys #acct_checked_tabs a:hover,
.ys #acct_holds_tabs a:hover,
.ys #acct_prefs_tabs a:hover {
    background: #75a535;
}

.ys #main-content .login_boxes {
    background: rgba(255,255,255,0.6);
}


/* search box stuff */
#search_box { font-size:1.6em; }
.search_box_wrapper { position:relative; }
.search_box_wrapper > #search_box { width: 70% !important; margin:5px auto; }
.dijitTextBox { width: 70% !important; margin:5px auto; font-size:1.6em; line-height:1.4em; height:1.8em; font-weight:normal;}
.tundra .dijitTextBox { margin:5px auto; }
#search-submit-go { width: 100px; height:28px; }
#search-wrapper select {
  font-size:16px;
  height:1.6em;
  line-height:18px;
}
.home #search-wrapper {
    background-image: url(/images/kcl/kcl-angle.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-position: 50% 50%9 !important;
    background-size: cover;
    border: none;
    min-height:400px;
}
#searchbar-and-button {
  width:80% !important;
  margin:0 auto;
  clear:both;
}
.home #searchbar-and-button {
  margin-top:150px;
  padding-left:100px;
}
#search-selectors {
  width:80% !important;
  margin:0 auto;
  clear:both;
}
.home #search-selectors {
  padding-left:100px;
}
.home #content-wrapper {
    display:none;
}
/* search results stuff */
.result_table_pic {
  width: 100px;
  padding-right: 10px;
  padding-top: 5px;
}

/* login page stuff */
.login-help-box {
    float:left;
    padding: 15px;
    margin:15px auto;
    width:30%;
}
#login-form-box {
    float:left;
    padding: 15px;
    width: 60%;
    margin:15px auto;
}
.login-help-button {
    width:150px;
    margin:auto;
    padding: 1em;
}

/* pagination stuff */
.results-paginator-selected,
.start_end_links_span a {
    padding: 6px;
    border: 1px solid grey;
    border-radius: 5px;
    line-height:2em;
    text-decoration: none;

}
.results-paginator-list {
    padding-left: 5px;
}
.start_end_links_span a:hover {
    background: rgb(0,122,84);
    color: #fff;
}
.search_page_nav_link {
    font-weight:bold;
}

/* action box stuff */
.opac-button.nopad {
    margin-bottom:0;
}

/* bookbag stuff */
.bookbag-controls-buttons {
    float:right;
    width:65%;
}
.bookbag-share {
    padding:0;
}
.bookbag-controls {
    padding: 0 0 0 2px;
}
.bookbag-controls.most {
    width:35%;
}
.bookbag-controls-holder .most {
    margin:0;
}

@media only screen and (max-width: 600px) {
    #topnav_logo img {
        width:auto;
    }
    .login-help-box,
    #login-form-box {
        float:none;
        width:70%;
    }
    #searchbar-and-buttons,
    #search-selectors {
        width:90% !important;
    }
}

@media only screen and (max-width: 800px) {
    #login-form-box {
        width: 50%;
    }
    #searchbar-and-buttons,
    #search-selectors {
        width:90% !important;
    }
}
