<div class="login-help-box">

    <h1>[% l('Trouble logging in?') %]</h1>

    <div class="login-help-button">
        <div class="opac-multiline-button">
        <a href="/eg/opac/password_reset">[% l('Reset Password') %]</a>
	</div>
    </div>

</div>
